#chargement {
  width: 100vw;
  text-align: center;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 2;
  span {
    animation: vague 1.3s ease-in-out 3, disparition 4s;
    animation-fill-mode: forwards;
    display: inline-block;
    font-family: "Shrikhand";
    font-size: 640%;
    text-shadow: 1px 1px $couleurPrimaire, 2px 2px $couleurSecondaire, 3px 3px $couleurTertiaire, 4px 4px $couleurPrimaire, 5px 5px $couleurSecondaire, 6px 6px $couleurTertiaire, 7px 7px $couleurPrimaire, 8px 8px $couleurSecondaire, 9px 9px $couleurTertiaire, 10px 10px $couleurPrimaire, 11px 11px $couleurSecondaire, 12px 12px $couleurTertiaire, 13px 13px $couleurPrimaire, 14px 14px $couleurSecondaire, 15px 15px $couleurTertiaire, 16px 16px $couleurPrimaire, 17px 17px $couleurSecondaire, 18px 18px $couleurTertiaire, 19px 19px $couleurPrimaire, 20px 20px $couleurSecondaire, 21px 21px $couleurTertiaire, 22px 22px $couleurPrimaire, 23px 23px $couleurSecondaire, 24px 24px $couleurTertiaire, 25px 25px $couleurPrimaire, 26px 26px 6px $couleurSecondaire;
    transform: translate(0, 75%) scale(0.3);
    /*
        Ajout d'un gradient
        Astuce trouvée à : https://codeworkshop.dev/blog/2020-08-13-how-to-add-a-gradient-to-text-with-css/
    */
    background: linear-gradient(45deg, $couleurPrimaire, $couleurSecondaire);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: 160ms * $i;
      }
    }
  }
}
@keyframes vague {
  50% {
    transform: translate(0, 0) rotate(5deg);
  }
}

@keyframes apparition {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes disparition {
    0% {
      opacity: 1;
    }
    50% {
        opacity: .7;
    }
    100% {
      opacity: 0;
    }
  }
  
#conteneurPage, #footerIndex {
    animation: apparition 4s ease-in;
  }

main {
    display: flex;
    flex-wrap: wrap-reverse;
    font-family: Roboto;
    margin-top: 3rem;

    h2{
        font-size: 1.5rem;
    }

    article{
        background: $grisFond;
        margin-bottom: -.1rem;
        padding: 3.5rem 3% 0 3%;
        width: 100%;

        .titre {
            display: flex;
            h2{
                font-weight: 100;
                letter-spacing: -.5px;
                margin-top: -.2rem;
            }
        }

        h2{
            margin-bottom: 1.5rem;
        }

        #blocRestaurants {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            figure {
                background-color: white;
                border-radius: 1rem;
                line-height: 1.5rem;
                margin-bottom: 1rem;
                position: relative;
                .nouveau{
                    background-color: #99E2D0;
                    border-radius: .15rem;
                    color: #219175;
                    font-size: .9rem;
                    font-weight: 500;
                    letter-spacing: .2px;
                    padding: .2rem .7rem .2rem .7rem;
                    position: absolute;
                    top: .85rem;
                    right: .8rem;
                }
                .imgRestaurant{
                    border-radius: 1rem 1rem 0 0;
                    object-fit: cover;
                    height: 10.9rem;
                    width: 100%;
                }

                .imgPalette {
                    object-position: -.1rem -3.3rem;
                }

                .imgEnchantee {
                    object-position: -.15rem -9.5rem;
                }

                .imgFrancaise {
                    object-position: -.25rem -3.4rem;
                }

                .imgDelice {
                    object-position: -.15rem -3.5rem;
                }

                figcaption{
                    letter-spacing: .2px;
                    padding: .5rem;
                    padding-left: .8rem;
                    padding-bottom: 1rem;
                    h3{
                        font-size: 1.1rem;
                    }
                    span{
                        letter-spacing: .4px;
                    }
                }
            }
        }

    }
    
    .menuRestaurant {
        background-color: $grisFond;
        border-radius: 2.5rem 2.5rem 0 0;
        padding-left: .9rem;
        padding-top: 2.5rem;
        padding-right: .7rem;
        margin-bottom: -6.35rem;
        position: relative;
        top: -6.5rem;

        @keyframes animBlocsMenu {
            0% {
              opacity: 0;
              padding-top: 1rem;
              transform: translateY(2rem);
            }
            50% {
              opacity: .5;
              padding-top: .5rem;
              transform: translateY(1rem);
            }
            100% {
              opacity: 1;
              padding-top: 0;
              transform: translateY(0);
            }
          }

        #blocMenu1 {
            animation: animBlocsMenu 400ms ease-in-out;
            margin-bottom: 2.1em;
            h3{
                margin-bottom: 1.35rem;
            }
        }

        #blocMenu2 {
            animation: animBlocsMenu 800ms ease-in-out;
            margin-bottom: 2.9em;
            h3{
                margin-bottom: 1.5rem;
            }

            li{
                margin-bottom: 1rem;
            }
        }

        #blocMenu3 {
            animation: animBlocsMenu 1200ms ease-in-out;
            margin-bottom: -.2rem;
            h3{
                margin-bottom: 1.4rem;
            }

            li{
                margin-bottom: 1rem;
            }
        }

        h2{
            font-family: Shrikhand, cursive;
            font-size: 1.76rem;
            padding-left: .4rem;
            margin-bottom: 2.25rem;
        }

        h3{
            font-weight: 400;
            padding-left: .3rem;
            position: relative;
        }
        h3:after {
            background-color: $couleurTertiaire;
            content: "";
            height: .2rem;
            width: 2.5rem;
            position: absolute;
            left: .3rem;
            top: 1.25rem;
        }

        strong{
            font-size: 1.1rem;
            line-height: 1.3rem;
            margin-left: -.1rem;
            margin-top: -.1rem;
        }

        span{
            font-size: .91rem;
            margin-left: -.1rem;
            margin-top: .1rem;
        }


        li span,
        li strong{
            display:inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 85%;
        }
    
        li{
            background-color: white;
            border-radius: 1rem;
            box-shadow: 0 .3rem .6rem #e3e3e3;
            display: flex;
            margin-bottom: .9rem;
            list-style: none;
            position: relative;
            .descriptionPlat, .prixPlat {
                padding: 1rem;
                padding-top: .9rem;
                padding-left: .7rem;
                padding-bottom: .75rem;
            }
            .descriptionPlat{
                width: 100%;
                overflow: hidden;
            }
            .prixPlat{
                display: flex;
                align-self: flex-end;
                color: #343434;
                font-size: .9rem;
                font-weight: 800;
                padding: 1rem .9rem .75rem;
                position: absolute;
                left:70%;
                bottom : .2rem;
                transform: translateX(2.5rem);
            }
        }
        
        .choixPlat {
            background-color: $couleurTertiaire;
            border-radius: 0 1rem 1rem 0;
            display: flex;
            height: 4.2rem;
            width: 0;
            opacity: 0;
        }

        .restaurantPlat:hover > .choixPlat {
            opacity: 1;
            width: 5.5rem;
            transform: translateX(0px);
            transition-duration: 400ms;
          }

          .restaurantPlat > .choixPlat {
            opacity: 0;
            width: 0;
            transition: 300ms;
          }

          .restaurantPlat:hover > .choixPlat svg{
            transform: rotate(360deg);
            transition: 400ms;
          }
        
        
        .restaurantPlat:hover .prixPlat {
            transform: translateX(-10px);
            transition: 400ms; // Plus joli avec 600ms (la coche "pousse" le prix), mais non-contractuel
        }
        .checkCircle{
            margin: auto;
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    aside{
        margin-bottom: 2.5rem;
        margin-left: -.5rem;
        width: 105%;
        h2{
            margin-bottom: .5rem;
            padding-left: 5%;
        }
    }
    #fonctionnement {
        display: flex;
        flex-direction: column;
        padding: 0 5% 1.5rem 8%;
        a{
            :hover{
                background: #f5edff;
            }
            :hover > svg {
                path{
                    fill: $couleurPrimaire;
                }
            }
            .chiffre{
                background-color: $couleurPrimaire;
                border-radius: 50%;
                color: white;
                display: inline-block;
                font-size: 0.9em;
                height: 1.4rem;
                left: -.6rem;
                padding-top: .28rem;
                position: relative;
                text-align: center;
                left: -.6rem;
                top: 3.1rem;    
                width: 1.4rem;
            }
            figure{
                background: $grisFond;
                border-radius: 1.3rem;
                box-shadow: 0 .3rem .6rem #e3e3e3;
                display: flex;
                padding: 2rem 2rem 1.5rem 1.5rem;
                #titreTelephone{
                    margin-top: -.1rem;
                    padding-left: 2.4rem;
                    letter-spacing: .1px;
                }
                #titreListe{
                    padding-left: 2.1rem;
                    margin-top: -.1rem;
                }
                #titreBoutique{
                    letter-spacing: .1px;
                    padding-left: 1.9rem;
                    margin-top: -.2rem;
                }
            }
        }
    }

}